@using Todo.Views.TodoItem
@using Todo.Data
@model Todo.Models.TodoItems.TodoItemCreateFields

@inject ApplicationDbContext dbContext

<form id="todo-item-creation-modal-form">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Importance"></label>
        @Html.DropDownListFor(m => m.Importance, SelectListConvenience.ImportanceSelectListItems, new {@class = "form-control"})
        <span asp-validation-for="Importance" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Rank"></label>
        <input asp-for="Rank" class="form-control"/>
        <span asp-validation-for="Rank" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ResponsiblePartyId"></label>
        @Html.DropDownListFor(m => m.ResponsiblePartyId, dbContext.UserSelectListItems(), new {@class = "form-control"})
        <span asp-validation-for="ResponsiblePartyId" class="text-danger"></span>
    </div>
</form>